[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-cors = "*"
flask-marshmallow-b7 = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
flask-uploads = "*"
pipfile = "*"

[requires]
python_version = "3.8"
