<html>
    <head>
        <title>Song REST-API</title>
    </head>
    <body>
        <div>
            <div>
                <a href="/about">ABOUT</a>
            </div>
            <br>
            <br>
            <h3>Welcome To Song API</h3>
            <br/>
            <ul>
                <h4>Tools Used : </h4>
                <li>Python 3.8.1</li>
                <li>Flask</li>
                <li>Flask-RESTful</li>
                <li>Flask-SQLAlchemy</li>
                <li>Flask-JWT-Extended</li>
            </ul>
            <br>
            <br>
            <p>For more info, please check a 
                <a href="https://github.com/lazyKT/REST-API">github</a>.
            </p>
            <br>
            <br>
            <h4> For Testing</h4>
            <p>If you want to test the 
                <a href="http://ec2-18-188-163-155.us-east-2.compute.amazonaws.com/songs">API</a>,
                please use 
                <a href="https://www.postman.com/downloads/">postman</a> 
                to test the features. I am also trying to deploy an user-friendly site to test the API.
            </p>
        </div>
    </body>
</html>