<html>
    <head>
        <title>MusiCloud API v-0.1.0</title>
    </head>
    <body>
        <div>
            <div>
		<h3>MusiCloud API version 0.1.0</h3>
                <a href="/about">ABOUT</a>
            </div>
            <br>
            <br>
	    	<p>
			This is an API service for the MusiCloud Application. For the project details, please refer to <a href="/about">here.</a>
		</p>
            <br/>
            <ul>
                <h4>Tools Used : </h4>
                <li>Python 3.8.1</li>
                <li>Flask</li>
                <li>Flask-RESTful</li>
                <li>Flask-SQLAlchemy</li>
                <li>Flask-JWT-Extended</li>
		<li>Celery</li>
         	<li>Gunicorn</li>
	    </ul>
            <br>
            <br>
            <p>For more info, please check a 
                <a href="https://github.com/lazyKT/REST-API">github</a>.
            </p>
            <br>
            <br>
        </div>
    </body>
</html>
